& {
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100;
}


.airmob-logo {
  color: $info;
  font-size: .5 * $header-height;
  font-weight: 300;
  padding-bottom: .1 * $header-height;
  padding-top: .1 * $header-height;
  text-transform: uppercase;

  &:hover {
    color: $info;
  }

  img {
    margin: 0 5px;
    max-height: .7 * $header-height;
  }
}

.header-right {
  font-weight: normal;

  .header-item {
    color: $grey-darker;
  }
}
