<footer class="footer">
  <div class="container">
    <div id="contacts-wrapper" class="columns">
      <div class="column is-text-centered">
        <img class="contact-icons" src="/svg/address.svg" alt="svg">
        <h5 class="title is-5"><br>ADRESSE</h5>
        <p>
          <a href="https://www.google.fr/maps/place/32+Rue+des+Marchands,+31000+Toulouse/" target="_blank">
            Airmob<br>
            32 rue des Marchands<br>
            31000 Toulouse
          </a>
        </p>
      </div>
      <div class="column is-text-centered">
        <img class="contact-icons" src="/svg/phone.svg" alt="svg">
        <h5 class="title is-5"><br>TÉLÉPHONE</h5>
        <p>
          <a href="tel:+330564880182">05 64 88 01 82</a>
        </p>
      </div>
      <div class="column is-text-centered">
        <img class="contact-icons" src="/svg/email.svg" alt="svg">
        <h5 class="title is-5"><br>EMAIL</h5>
        <p>
          <a href="mailto:contact@airmob.link">contact@airmob.link</a>
        </p>
      </div>
      <div class="column is-text-centered">
        <img class="contact-icons" src="/svg/download.svg" alt="svg">
        <h5 class="title is-5">
          <a href="/docs/Airmob.pdf" target="_blank">TÉLÉCHARGEZ NOTRE PLAQUETTE</h5>
      </div>
    </div>
    <div class="content is-text-centered">
      <p>
        <a href="/legal" target="_blank">Mentions légales</a>
      </p>
      <p>
  			&copy; {{formatDate buildTime year="numeric"}} Airmob
      </p>
    </div>
  </div>
</footer>
