<footer class="footer">
  <div class="container">
    <div class="content is-text-centered">
      <p>
        <a href="/docs/CGCP.pdf" target="_blank">Mentions légales</a>
      </p>
      <p>
  			&copy; {{formatDate buildTime year="numeric"}} Airmob
      </p>
    </div>
  </div>
</footer>
