{{!-- Last build info
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<div class="hide">Last build: {{buildTime}}</div>

{{!-- Sprite svg
  –––––––––––––––––––––––––––––––––––––––––––––––––– --}}
  <div class="hide">
    {{{spriteSvg}}}
  </div>

{{!-- Basic Page Needs
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
  <script type="text/javascript" src="//code.angularjs.org/1.4.9/angular.min.js" defer></script>

  <script type="text/javascript" src="/js/all.min.js" defer></script>

{{!-- Google Analytics
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
  <script>
    window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
    ga('create', 'UA-75824263-1', 'auto');
    ga('send', 'pageview');
  </script>
  <script async src='https://www.google-analytics.com/analytics.js'></script>

{{!-- Window model
	–––––––––––––––––––––––––––––––––––––––––––––––––– --}}
	<script>
		window.model = {
			context: {{{toJson .}}}
		};
	</script>
