<header class="header">
  <div class="container">
    {{! Left side }}
    <div class="header-left">
      <a class="header-item" href="/">
        Airmob
      </a>
    </div>

    {{! Right side }}
    <div class="header-right header-menu">

    </div>
  </div>
</header>
