<header class="header">
  <div class="container">
    {{! Left side }}
    <div class="header-left">
      <a class="header-item airmob-logo" href="/">
        {{!
          <img src="/images/logo/Airmob.png" alt="Airmob Logo" />
        }}
        Airmob
      </a>
    </div>

    {{! Right side }}
    <div class="header-right header-menu">
      <a class="header-item" href="/">Tarifs</a>
      <span class="header-item">
        <a class="button is-info is-outlined" href="/contact">Contact</a>
      </span>
    </div>
  </div>
</header>
