{{#>layout }}
<div id="home-wrapper">
  {{! Jumbotron
  ———————————————————— }}
  <section id="jumbotron" class="hero is-medium is-primary">
    <div class="hero-content">
      <div class="container">
        <h1 class="title is-1">
          Airmob vous connecte partout en France au meilleur des réseaux 4G
        </h1>
      </div>
    </div>
  </section>

  {{! Features
  ———————————————————— }}
  <section id="features" class="hero">
    <div class="hero-content">
      <div class="container is-text-centered">
        <div class="columns">
          <div class="column">
            <h4 class="title is-4">
              Activation immédiate dès réception du routeur 4G.<br/>
              <strong>Sans engagement de durée</strong>
            </h4>
          </div>
          <div class="column">
            {{! Place image here. }}
          </div>
          <div class="column">
            <h4 class="title is-4">
              Démonstration clients, salons, séminaires, solution d'attente, etc.
            </h4>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! How it works
  ———————————————————— }}
  <section id="how-it-works" class="hero">
    <div class="hero-content">
      <div class="container is-text-centered">
        <div class="columns">
          <div class="column">
            <p>
              1. Vous recevez un routeur 4G permettant de connecter jusqu’à 6 équipements, en wifi ou via un port Fast Ethernet
            </p>
          </div>
          <div class="column">
            <p>
              2. Vous choisissez un forfait data adapté à vos besoins : 30 Go ou 100 Go par mois.
            </p>
          </div>
          <div class="column">
            <p>
              3. Vous avez accès à plusieurs réseaux mobiles 4G et pouvez en changer jusqu’à une fois par mois
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Order
  ———————————————————— }}
  <section id="request-demo" class="hero is-primary">
    <div class="hero-content">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h2 class="title is-3">Commander</h2>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Testimony
  ———————————————————— }}
  <section id="how-it-works" class="hero">
    <div class="hero-content">
      <div class="container">

        {{! Up Digital
        ———————————————————— }}
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="/images/home/customers/up-digital.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Marc Clément</strong>, Directeur Général – Up.digital
                  <br>
                  “Airmob me permet de faire des démonstrations chez mes clients, en disposant d’une connexion Internet de très grande qualité en toute autonomie”
                </p>
              </div>
            </div>
          </article>
        </div>

        {{! Aurignac Finances
        ———————————————————— }}
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="/images/home/customers/aurignac-finance.png">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Jean-René Griton</strong>, Président — Aurignac Finance
                  <br>
                  “Pendant notre déménagement, mon équipe est restée connectée au réseau de l’entreprise dans les meilleurs conditions”
                </p>
              </div>
            </div>
          </article>
        </div>

      </div>
    </div>
  </section>


</div>
{{/layout}}
