{{#>layout }}
<div id="home-wrapper">
  {{! Jumbotron.
  ———————————————————— }}
  <section id="jumbotron" class="hero is-fullheight">
    <div class="hero-content header-spacer">

      <div class="container">
        <h1 class="title is-1">
          Airmob vous connecte partout en France au meilleur des réseaux 4G
        </h1>
      </div>

      <a href="/pricing" class="title is-3 offer">
        Offre sans engagement, à partir de 89€
      </a>
    </div>

    <div id="overlay-background"></div>
    <div id="img-background" lazy-load data-src="/images/home/background.jpg"></div>
  </section>


  {{! Features
  ———————————————————— }}
  <section id="features" class="hero">
    <div class="hero-content">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <h2 class="title is-2 is-text-left">
              Activation immédiate.<br/>
              <strong>Sans engagement de&nbsp;durée</strong>
            </h4>
          </div>
          <div class="column">
            <img src="/images/home/router/airmob-router.jpg" alt="Airmob router" />
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Headline
  ———————————————————— }}
  <section id="headline" class="hero is-info">
    <div class="hero-content">
      <div class="container">
        <h2 class="title is-3">
          Démonstrations clients, salons, séminaires, dépannages, etc.
        </h2>
      </div>
    </div>
  </section>


  {{! How it works
  ———————————————————— }}
  <section id="how-it-works" class="hero">
    <div class="hero-content">
      <div class="container is-text-centered">
        <div class="columns">
          <div class="column">
            <h3 class="title is-3">
              Connectez jusqu'à 6 équipements
            </h3>
            <p>
              Vous recevez un routeur&nbsp;4G permettant de connecter jusqu’à 6 équipements en wifi ou via un port Fast Ethernet
            </p>
          </div>
          <div class="column">
            <h3 class="title is-3">
              Adaptez votre forfait à vos besoins
            </h3>
            <p>
              Vous choisissez et adaptez votre forfait data à vos besoins&nbsp;: de 30&nbsp;Go à 100&nbsp;Go par&nbsp;mois
            </p>
          </div>
          <div class="column">
            <h3 class="title is-3">
              Le meilleur réseau 4G disponible&nbsp;!
            </h3>
            <p>
              Vous activez votre routeur sur le meilleur réseau&nbsp;4G disponible et pouvez en changer à tout moment
            </p>
          </div>
        </div>

      </div>
    </div>
  </section>

  {{! Order
  ———————————————————— }}
  <section id="order" class="hero">
    <div class="hero-content">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <a href="/pricing" class="button is-outlined is-danger is-large">Voir le détail des offres</a>
          </div>
        </div>
      </div>
    </div>
  </section>



  {{! Testimony
  ———————————————————— }}
  <section id="testimony" class="hero">
    <div class="hero-content">
      <div class="container">

        {{! Up Digital
        ———————————————————— }}
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="/images/home/customers/up-digital.jpg">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Marc Clément</strong>, Directeur Général – Up.digital
                  <br>
                  “Airmob me permet de faire des démonstrations chez mes clients, en disposant d’une connexion Internet de très grande qualité en toute autonomie”
                </p>
              </div>
            </div>
          </article>
        </div>

        {{! Aurignac Finances
        ———————————————————— }}
        <div class="box">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img src="/images/home/customers/aurignac-finance.jpg">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>Jean-René Griton</strong>, Président — Aurignac Finance
                  <br>
                  “Pendant notre déménagement, l’équipe d’Aurignac est restée connectée au réseau de l’entreprises dans de très bonnes conditions”
                </p>
              </div>
            </div>
          </article>
        </div>

      </div>
    </div>
  </section>


  {{! Request a demo
  ———————————————————— }}
  <section id="request-demo" class="hero is-info">
    <div class="hero-content">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <a href="/contact" class="button is-large">Être rappelé par un conseiller</a>
          </div>
        </div>
      </div>
    </div>
  </section>



</div>
{{/layout}}
