{{#>layout }}
<div id="lega-wrapper" class="header-spacer">
  {{! Jumbotron
  ———————————————————— }}
  <section id="jumbotron" class="hero is-info is-left">
    <div class="hero-content">
      <div class="container content">
        <h1 class="title is-1" style="margin: 0;">
          Mentions légales
        </h1>
      </div>
    </div>
  </section>
  <section class="hero is-left">
    <div class="hero-content">
      <div class="container content">
        <h2>
          Airmob.link
        </h2>
        <p>
          Vous êtes connecté sur le site Internet <a href="https://airmob.link">airmob.link</a> édité par ALATE, SARL au capital de 1.500€, ayant pour numéro unique d'identification 817 643 307 RCS Compiègne et dont le siège social est sis 83 rue du moulin Saint Tron 60300 Senlis
        </p>
        <p>
          La navigation sur ce site est soumise à la réglementation en vigueur. L’utilisation de ce site est régie par la Loi française.
        </p>

        <h2>
          Directeur de publication
        </h2>
        <p>
          Le directeur de la publication est Arnaud Lecoeur en qualité de représentant légal de la société.
        </p>

        <h2>
          Hébergement
        </h2>
        <p>
          Le site airmob.link est hébergé par <a href="https://github.com" target="_blank">Github</a>
        </p>
      </div>
    </div>
  </section>

</div>
{{/layout}}
