{{#>layout }}
<div id="lega-wrapper" class="header-spacer">
  {{! Jumbotron
  ———————————————————— }}
  <section id="jumbotron" class="hero is-primary is-left">
    <div class="hero-content">
      <div class="container content">
        <h1 class="title is-1" style="margin: 0;">
          Tarifs
        </h1>
      </div>
    </div>
  </section>
  <section class="hero is-left">
    <div class="hero-content">
      <div class="container content">
        
      </div>
    </div>
  </section>

</div>
{{/layout}}
