{{#>layout }}
<div id="pricing-wrapper" class="header-spacer">
  {{! Jumbotron
  ———————————————————— }}
  <section id="jumbotron" class="hero is-info is-medium">
    <div class="hero-content">
      <div class="container content">
        <h1 class="title is-1">Les offres Airmob
          <p class="subtitle is-3">Activation immédiate, sans engagement de durée</p>
        </h1>
      </div>
    </div>
  </section>

  {{! Offers section
  ———————————————————— }}

  {{>pricing/_offers}}

  {{! Faq section
  ———————————————————— }}
  {{>pricing/_faq}}


  {{! Router section
  ———————————————————— }}
  <section id="router">
    <div class="container">      
      <div class="columns is-centered">
        <div class="column is-half">
          <img src="/images/home/router/airmob-router.jpg" alt="Airmob router" />
        </div>
      </div>
    </div>
  </section>

  {{! Request a demo
  ———————————————————— }}
  <section id="request-demo" class="hero is-info">
    <div class="hero-content">
      <div class="container">
        <div class="columns is-vcentered">
          <div class="column">
            <a href="/contact" class="button is-large">Demander une démo</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  {{! Request a demo
  ———————————————————— }}
  {{>pricing/_order-form}}

</div>
{{/layout}}
