<div class="offer-table-wrapper">
  <div class="title-wrapper">
    <span class="quota">100</span>
    <span class="go">Go</span>
  </div>
  <div class="offer-content">
    <p class="feature-wrapper">
      <span>
        <svg viewBox="0 0 8 8"><use xlink:href="#check"></use></svg>
      </span>
      <span class="feature">Aucune durée d’engagement</span>
    </p>
    <p class="feature-wrapper">
      <span>
        <svg viewBox="0 0 8 8"><use xlink:href="#check"></use></svg>
      </span>
      <span class="feature">Pas de frais de mise en service</span>
    </p>
    <p class="feature-wrapper">
      <span>
        <svg viewBox="0 0 8 8"><use xlink:href="#check"></use></svg>
      </span>
      <span class="feature">Prêt du routeur</span>
    </p>
    <p class="feature-wrapper">
      <span>
        <svg viewBox="0 0 8 8"><use xlink:href="#check"></use></svg>
      </span>
      <span class="feature">Forfait adaptable chaque mois</span>
    </p>
    <p class="feature-wrapper">
      <span>
        <svg viewBox="0 0 8 8"><use xlink:href="#check"></use></svg>
      </span>
      <span class="feature">Selection du meilleur réseau 4G&nbsp;disponible chaque mois*</span>
    </p>
    <div class="price-wrapper">
      <span class="price">129</span>
      <span class="currency">€</span>
      <span class="frequency">/mois</span>
    </div>
    <a href="#order-form" ng-click="order = {show: true, plan: '129€'}" class="button is-medium is-outlined is-danger">Commander</a>
  </div>
</div>
