<section id="offers" class="hero">
  <div class="hero-content">
    <div class="container">

      <div class="columns is-centered offers-wrapper">
        <div class="column is-third-desktop is-half-tablet">
          {{>pricing/_offer-30go}}

        </div>

        <div class="column is-third-desktop is-half-tablet">
          {{>pricing/_offer-100go}}
        </div>
      </div> {{! /columns.offers-wrapper}}

      <h5>
        <a href="/docs/CGCP.pdf" target="_blank">Voir les conditions générales et conditions particulières du service</a>
      </h5>

    </div> {{! /container}}
  </div>
</section> {{! /#offers}}
