<section id="order-form" class="hero ng-hide" ng-show="order.show">
  <div class="hero-content">
    <div class="container">

      <h3 class="title is-3">Effectuer une demande d'abonnement</h3>
      <h5 class="subtitle is-5">Votre demande sera traité dans les 24H</h5>

      <div class="columns offers-wrapper">
        <div class="column is-third is-text-centered">
          <div class="ng-hide" ng-show="order.show && order.plan == '89€'">
            {{>pricing/_offer-30go}}
          </div>
          <div class="ng-hide" ng-show="order.show && order.plan == '129€'">
            {{>pricing/_offer-100go}}
          </div>
        </div>

        <div class="column is-offset-1">
          <form contact-form class="container" name="contactForm" ng-submit="formSubmit()" data-url="airmob_Order_form">
            <div class="columns">
              <div class="column">
                <p class="control">
                  <label class="label">Nom *</label>
                  <input class="input" ng-model="firstName" id="firstNameInput" type="text" required>
                </p>
              </div>
              <div class="column">
                <p class="control">
                  <label class="label">Prénom *</label>
                  <input class="input" ng-model="lastName" id="lastNameInput" type="text" required>
                </p>
              </div>
            </div>
            <p class="control">
              <label class="label">Adresse email *</label>
              <input class="input" ng-model="email" id="emailInput" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/" type="email" required>
            </p>
            <p class="control">
              <label class="label">Société *</label>
              <input class="input" ng-model="company" id="companyInput" type="text" required>
            </p>
            <p class="control">
              <label class="label">Numéro de téléphone</label>
              <input class="input" ng-model="phoneNumber" id="phoneNumberInput" type="text">
            </p>
            <p class="control" style="text-align: right;">
              <button class="button is-danger is-outlined is-medium" type="submit">
                Envoyer ma demande
              </button>
            </p>
            <p class="control visibility-hidden" ng-class="{'visibility-hidden': !error}">
              Une erreur s'est produite veuillez réessayer ultérieurement.
            </p>
            <p class="control visibility-hidden" ng-class="{'visibility-hidden': !success}">
              Votre message a bien été envoyé. Merci de nous avoir contacté&nbsp;!
            </p>
          </form>
        </div>
      </div>

    </div> {{! /container}}
  </div>
</section> {{! /#offers}}
